:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
  width: 100vw;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: relative;
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0;
  padding-top: 2svh;
  margin: 0;
  -webkit-text-stroke: 0.015em black;
  text-stroke: 0.015em black;
  z-index: 2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.icon-large{
  width: 15em;
}

.icon-small{
  width: 2.5em;
}

.navbar{
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max(3svh);
  gap: min(0.2em);
}

.navbar-row-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-content: space-between;
  height: max(3svh);
  width: 100vw;
}

.navbar-row-2{
  display: grid;
  align-items: center;
  justify-content: center;
  height: max(3svh);
  width: 100vw;
}

.navbar-name-and-logo{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: baseline;
  font-size: medium;
}

.navbar-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: min(0.4em);
  padding: 0;
  margin: 0;
  align-items: baseline;
  justify-content: center;
  font-size: medium;
}

.fa-shopping-cart{
  display: grid;
  width: 100%;
}

.navbar-link{
  text-decoration: none;
}

.shop-content{
  display: grid;
  grid-template-rows: 8svh auto auto;
  position: absolute;
  top: 0;
  width: 100vw;
}

.shop-header{
  display: grid;
  justify-content: center;
  height: max(5svh);
  padding: 0;
  top: 8svh;
}

.all-collections-list,
.nft-cards-list,
.nfts-list,
.listed-nfts-list{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 1em;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}

.listed-nfts-list{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-card-image{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collection-card,
.trait-card,
.traits-container{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
}

.single-nft-card{
  grid-template-rows: auto auto;
  gap: max(1em);
}

.owner{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection-card-top-row{
  display: grid;
  grid-template-columns: auto auto;
  gap: min(1em);
}

.nft-list-nft-image-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collection-image,
.nft-image{
  display: grid;
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 1.5em;
}

.floor-price{
  display: grid;
  grid-template-columns: auto auto;
}

.collection-card-address{
  font-size: x-small;
  font-style: italic;
}

.collection-card-floor-price{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.stats-row{
  display: grid;
  font-size: small;
}

.one-day-pct-change,
.seven-day-pct-change{
  display: grid;
  grid-template-columns: auto auto;
}

.one-day-pct-change-value-and-symbol,
.seven-day-pct-change-value-and-symbol{
  display: grid;
  grid-template-columns: auto auto; 
  gap: 0.1em;
}

.one-day-pct-change-value,
.seven-day-pct-change-value{
  text-align: right;
}

.unit-icon{
  display: grid;
  object-fit: contain;
  height: 1.25em;
  width: 1.25em;
}

.collection-card-bottom-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}

.supply-and-for-sale-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supply-label,
.num-for-sale-label{
  text-align: right;
}

.supply,
.num-for-sale{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: min(0.2em);
}

.shop-header-and-search{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
  margin-top: min(1em);
}

.collections-search-bar{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collections-search-input{
  font-size: large;
}

.autocomplete-sugestions{
  max-height: 20svh;
  width: 70vw;
  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  list-style-type: none;
  border-radius: 1.5em;
  padding: 0;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: medium;
}

.loading-dock{
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  gap: min(2em);
  padding-top: min(2em);
  padding-bottom: min(2em);
  animation: zoom 0.5s ease-in-out;
}

.loading-icon-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.loading-icon{
  display: grid;
  object-fit: fill;
  width: max(100%);
  height: max(100%);
  animation: spin 2s linear infinite;
}

.loading-text{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg) scale(1); 
  }
  50%{
    transform: rotate(180deg) scale(0.5); 
  }
  100% { 
    transform: rotate(360deg) scale(1); 
  }
}

.pagination-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: min(0.3em);
}

.pagination-row-left-arrow{
  text-align: right;
}

.pagination-numbers-list{
  display: grid;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  gap: min(0.3em);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-banner{
  display: grid;
  position: absolute;
  width: 100vw;
  height: max(25svh);
  object-fit: cover;
  top: 8svh;
  z-index: 0;
}

.collection-stats-list{
  display: grid;
  list-style-type: none;
  width: 100vw;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: min(1em);
  margin-top: min(1em);
}

.collection-stat{
  display: grid;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}

.collection-stats-title{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
  padding: min(0.5em);
  padding-left: 0;
  padding-right: 0;
  width: 90vw;
}

.volume-plot{
  display: grid;
  width: max(100vw);
  height: max(50svh);
  object-fit: contain;
}

.plot{
  max-width: 100vw;
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0.4) translateX(-40%);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.collection-image-container{
  position: absolute;
  top: 188%;
  left: 3%;
}

.collection-page-collection-image{
  display: grid;
  object-fit: contain;
  width: 5em;
  height: 5em;
  border-radius: 1em;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

.single-collection-body{
  position: absolute;
  top: 34svh;
  display: grid;
  gap: min(3em);
}
.nft-page-body{
  position: absolute;
  top: 24svh;
  display: grid;
  gap: min(3em);
  animation: zoom 0.5s ease-in-out;
}

.collection-name{
  font-size: x-large;
  display: grid;
  width: 100vw;
}

.collection-description{
  font-style: italic;
  display: grid;
  width: min(90vw);
  max-width: 100vw;
  word-wrap: break-word;
}

.collection-links-list{
  display: flex;
  gap: min(1em);
  list-style-type: none;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2%;
  left: 40%;
  text-align: center;
  backdrop-filter: blur(12em);
  border-radius: 1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: white;
}

.fa-globe,
.collection-link-icon{
  width: max(1.75em);
  display: grid;
  align-items: center;
  justify-content: center;
}

.wallet-connect-button{
  width: max(1em);
}

.home-page{
  display: grid;
  grid-template-rows: 7svh auto;
}

.nft-list-and-switcher{
  display: grid;
  grid-template-rows: auto auto;
  gap: min(1em);
}

.nft-list-switcher{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(1em);
}

.all-nfts-button,
.listed-nfts-button{
  padding-left: max(0.5em);
  padding-right: max(0.5em);
  margin-left: 2.25em;
  margin-right: 2.25em;
}

.all-nfts-list-and-title,
.listed-nfts-list-and-title{
  display: grid;
  grid-template-rows: auto auto;
  gap: min(2em);
}

.all-nfts-title,
.listed-nfts-title{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: large;
}

.nfts-list-item{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
}

.listed-nft-cards-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: min(1em)
}

.nft-image-container{
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: min-content(98%);
  padding: min(0.7em);
  border-radius: 1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  gap: min(1em);
  grid-template-rows: auto auto;
}

.nft-page-nft-image{
  display: grid;
  object-fit: contain;
  width: min(80%);
  max-width: 95%;
  justify-content: center;
  align-items: center;
  border-width: 0.2em;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  margin: min(1em);
}

.back-link{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nft-page-nft-name{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-align: center;
  padding: min(0.5em);
}

.traits-container{
  display: grid;
  gap: min(1em);
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
}

.traits-title{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.traits-list{
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  padding: min(1em);
  margin: 0;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.trait-card{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(0.5em);
  height: min-content;
  padding: min(1em);
  grid-template-areas: "traitTitle traitTitle"
                       "traitValue traitCount";
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
}

.trait-title{
  grid-area: traitTitle;
}

.trait-value{
  grid-area: traitValue;
}

.trait-count{
  grid-area: traitCount;
  font-style: italic;
}

.image-and-info{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(2em);
}