:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
  width: 100vw;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: relative;
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0;
  padding-top: 2svh;
  margin: 0;
  -webkit-text-stroke: 0.015em black;
  text-stroke: 1px black;
  z-index: 2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.icon-large{
  position: relative;
  bottom: 6svh;
  width: 15em;
  animation: bob 5s linear infinite;
}

.icon-small{
  width: 2.5em;
}

.navbar{
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max(3svh);
  gap: min(0.4em);
  position: absolute;
  top: 0;
}

.navbar-row-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-content: space-between;
  height: max(3svh);
  width: 100vw;
}

.navbar-row-2{
  display: grid;
  align-items: center;
  justify-content: center;
  height: max(3svh);
  width: 100vw;
}

.navbar-name-and-logo{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: baseline;
  font-size: medium;
}

.navbar-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: min(0.4em);
  padding: 0;
  margin: 0;
  align-items: baseline;
  justify-content: center;
  font-size: medium;
}

.fa-shopping-cart{
  display: grid;
  width: 100%;
}

.navbar-link{
  text-decoration: none;
}

.shop-content{
  display: grid;
  grid-template-rows: 8svh auto auto;
  position: absolute;
  top: 0;
  width: 100vw;
}

.shop-header{
  display: grid;
  justify-content: center;
  height: max(5svh);
  padding: 0;
  top: 8svh;
}

.outlet-card,
.back-link{
  display: grid;
  width: 100vw;
}

.all-collections-list,
.nft-cards-list,
.nfts-list,
.listed-nfts-list,
.checkout-items-list,
.cart-totals-list{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 1em;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}

.listed-nfts-list{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-card-image{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collection-card,
.trait-card,
.traits-container,
.rarity-container,
.listings-container,
.current-price-and-expiration-container,
.offers-container,
.no-listings-container{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  gap: min(1em);
  grid-template-rows: auto auto;
  animation: zoom 0.5s ease-in-out;
}

.single-nft-card{
  grid-template-rows: auto auto;
  gap: max(1em);
}

.owner{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection-card-top-row{
  display: grid;
  grid-template-columns: auto auto;
  gap: min(1em);
}

.nft-list-nft-image-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collection-image,
.nft-image{
  display: grid;
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 1.5em;
}

.floor-price{
  display: grid;
  grid-template-columns: auto auto;
}

.collection-card-address{
  font-size: x-small;
  font-style: italic;
}

.collection-card-floor-price{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.stats-row{
  display: grid;
  font-size: small;
}

.one-day-pct-change,
.seven-day-pct-change{
  display: grid;
  grid-template-columns: auto auto;
}

.one-day-pct-change-value-and-symbol,
.seven-day-pct-change-value-and-symbol{
  display: grid;
  grid-template-columns: auto auto; 
  gap: 0.1em;
}

.one-day-pct-change-value,
.seven-day-pct-change-value{
  text-align: right;
}

.unit-icon{
  display: grid;
  object-fit: contain;
  height: 1.25em;
  width: 1.25em;
}

.collection-card-bottom-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}

.supply-and-for-sale-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supply-label,
.num-for-sale-label{
  text-align: right;
}

.supply,
.num-for-sale{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: min(0.2em);
}

.shop-header-and-search{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
  margin-top: min(1em);
}

.collections-search-bar{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collections-search-input{
  font-size: large;
}

.autocomplete-sugestions{
  max-height: 20svh;
  width: 70vw;
  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  list-style-type: none;
  border-radius: 1.5em;
  padding: 0;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: medium;
}

.loading-dock{
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  gap: min(2em);
  padding-top: min(2em);
  padding-bottom: min(2em);
  animation: zoom 0.5s ease-in-out;
}

.loading-icon-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.loading-icon{
  display: grid;
  object-fit: fill;
  width: max(100%);
  height: max(100%);
  animation: spin 2s linear infinite;
}

.loading-text{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg) scale(1); 
  }
  50%{
    transform: rotate(180deg) scale(0.5); 
  }
  100% { 
    transform: rotate(360deg) scale(1); 
  }
}

.pagination-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: min(0.3em);
}

.pagination-row-left-arrow{
  text-align: right;
}

.pagination-numbers-list{
  display: grid;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  gap: min(0.3em);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-banner{
  display: grid;
  position: absolute;
  width: 100vw;
  height: max(25svh);
  object-fit: cover;
  top: 10svh;
  z-index: 0;
}

.collection-stats-list,
.listings-list{
  display: grid;
  list-style-type: none;
  width: 96%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: min(1em);
  margin-top: min(1em);
}

.collection-stat{
  display: grid;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}

.collection-stats-title{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
  padding: min(0.5em);
  padding-left: 0;
  padding-right: 0;
  width: 90vw;
}

.volume-plot{
  display: grid;
  width: max(100vw);
  height: max(50svh);
  object-fit: contain;
}

.plot{
  max-width: 100vw;
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0.4) translateX(-40%);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.collection-image-container{
  position: absolute;
  top: 188%;
  left: 3%;
}

.collection-page-collection-image{
  display: grid;
  object-fit: contain;
  width: 5em;
  height: 5em;
  border-radius: 1em;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

.single-collection-body{
  position: absolute;
  top: 38svh;
  display: grid;
  gap: min(3em);
}
.nft-page-body{
  position: absolute;
  top: 24svh;
  display: grid;
  gap: min(3em);
  animation: zoom 0.5s ease-in-out;
  width: 100vw;
}

.collection-name{
  font-size: x-large;
  display: grid;
  width: 100vw;
}

.collection-description{
  font-style: italic;
  display: grid;
  width: min(90vw);
  max-width: 100vw;
  word-wrap: break-word;
}

.collection-links-list{
  display: flex;
  gap: min(1em);
  list-style-type: none;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3%;
  left: 40%;
  text-align: center;
  backdrop-filter: blur(12em);
  border-radius: 1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: white;
}

.fa-globe,
.collection-link-icon{
  width: max(1.75em);
  display: grid;
  align-items: center;
  justify-content: center;
}

.wallet-connect-button{
  width: max(1em);
}

.home-page{
  display: grid;
  grid-template-rows: 7svh auto;
}

.nft-list-and-switcher{
  display: grid;
  grid-template-rows: auto auto;
  gap: min(1em);
}

.nft-list-switcher{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: min(1em);
}

.all-nfts-button,
.listed-nfts-button{
  padding-left: max(0.5em);
  padding-right: max(0.5em);
  margin-left: 2.25em;
  margin-right: 2.25em;
}

.all-nfts-list-and-title,
.listed-nfts-list-and-title{
  display: grid;
  grid-template-rows: auto auto;
  gap: min(2em);
}

.all-nfts-title,
.listed-nfts-title,
.shopping-cart-title-row,
.cart-total-title-row{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: large;
}

.cart-total-title-row,
.shopping-cart-title-row{
  font-size: xx-large;
  padding: min(1.5em);
}

.nfts-list-item{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
  border-radius: 1.5em;
  border-width: 2px;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 50%);
}

.listed-nft-cards-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: min(1em)
}

.nft-image-container{
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: min-content(98%);
  gap: min(1em);
  grid-template-rows: auto auto;
}

.nft-page-nft-image{
  display: grid;
  object-fit: contain;
  width: min(80%);
  max-width: 95%;
  justify-content: center;
  align-items: center;
  border-width: 0.2em;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  margin: min(1em);
  border-radius: 1.5em;
}

.back-link{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nft-page-nft-name{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-align: center;
  padding: min(0.5em);
}

.traits-container{
  display: grid;
  gap: min(1em);
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  animation: zoom 0.5s ease-in-out;
}

.traits-title{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.traits-list{
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  padding: min(1em);
  margin: 0;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}

.trait-card{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(0.5em);
  height: min-content;
  padding: min(1em);
  grid-template-areas: "traitTitle traitTitle"
                       "traitValue traitCount";
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
}

.trait-title{
  grid-area: traitTitle;
}

.trait-value{
  grid-area: traitValue;
}

.trait-count{
  grid-area: traitCount;
  font-style: italic;
}

.image-and-info{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(2em);
  width: 98vw;
}

.rarity-title,
.traits-title{
  font-size: x-large;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rarity-value{
  font-size: x-large;
  padding: min(1em);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listings-title{
  font-size: x-large;
  text-align: center;
}

.listing-headers,
.offer-headers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: min(1em);
  text-align: left;
  font-size: x-large;
}

.listing-values{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(1em);
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: large;
  font-weight: 900;
}

.stopwatch{
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.stopwatch-labels,
.stopwatch-values{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(1em);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.current-price-and-expiration-container{
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: min(1em);
  padding: 0;
  width: 98vw;
  padding-bottom: min(1em);
}

.current-price{
  display: flex;
  flex-wrap: wrap;
}

.expiration-title{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.current-price-container{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  gap: min(0.2em);
}

.stopwatch-seconds{
  color: rgb(255, 0, 255);
}

.add-to-cart-button-container,
.make-offer-button-container,
.pay-now-button-row{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-to-cart-button,
.make-offer-button,
.pay-now-button{
  background-color: rgb(0, 170, 255);
  padding: min(1em);
  padding-left: 10em;
  padding-right: 10em;
}
.pay-now-button{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-to-cart-button.inactive{
  background-color: #a8aeb6;
  pointer-events: none;
}

.offer-container-title{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.offer-values{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(1em);
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: large;
  font-weight: 900;
}

.offerer-address{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 900;
}

.make-offer-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
}


.checkout-modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  height: 100svh;
  width: 100vw;
  background-color: #242424;
  z-index: 5;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: zoom 0.5s ease-in-out;
}

.checkout-modal-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, auto);
  max-width: 98vw;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  gap: min(1em);
  animation: zoom 0.5s ease-in-out;
  position: absolute;
  top: 50%; /* Set top to 50% */
  left: 50%; /* Set left to 50% */
  transform: translate(-50%, -50%);
}

.checkout-modal-title,
.item-name{
  display: grid;
  font-size: x-large;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkout-modal-image-container,
.item-image-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.checkout-modal-image,
.item-image{
  display: grid;
  object-fit: contain;
  height: 10em;
  border-radius: 1.5em;
  align-items: center;
  justify-content: center;
}

.buttons-container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
}

.docs-page{
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.docs{
  display: grid;
  grid-template-rows: repeat(3, auto);
  position: relative;
  top: -14svh;
  gap: min(3em);
}

.author-avatar{
  display: grid;
  object-fit: contain;
  height: 3em;
  padding: min(1em);
  border-radius: 2em;
}

.docs-title{
  display: grid;
  position: absolute;
  top: 8svh;
}

.author-avatar-container{
  display: grid;
  align-items: center;
  justify-content: right;
  width: 100vw;
}

.docs-footer{
  display: inline;
  position: absolute;
  top: 66svh;
}

.docs-content{
  display: inline;
  padding-top: min(2em);
}

.checkout-list-item{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, auto);
  max-width: 98vw;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
  box-shadow: 0 0 1.5em rgba(255, 255, 255, 50%);
  gap: min(1em);
  animation: zoom 0.5s ease-in-out;
}

.item-price{
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.item-buttons-row{
  display: grid;
  justify-content: center;
  align-items: center;
}

.checkout-body{
  display: grid;
  position: absolute;
  top: 8svh;
}

.currency-total{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

/* waves */
.ocean {
  height: 20svh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 36s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 40s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

.home-content{
  position: absolute;
  bottom: 0;
}

.home-content-card,
.home-content-title{
  padding-bottom: min(0.2em);
  padding-left: min(20em);
  font-size: x-large;
  background-color: transparent;
}

.logo-large-container{
  position: relative;
  padding-left: min(20%);
  top: 8svh;
}

@media only screen and (max-width: 767px) {
  .ocean {
    height: 10vh;
  }

  .wave {
    bottom: 0;
    animation: wave 20s -3s linear infinite;
  }

  .home-page {
    padding-bottom: 2em;
    width: 100vw;
  }

  .home-content {
    padding-top: 2em;
    width: 100vw;
  }

  .home-content-title {
    padding-top: 2em;
    top: 20%;
    right: 66vw;
  }

  .home-content-card {
    padding-left: 1em;
  }

  .logo-large-container {
    padding-left: 10%;
    top: 9svh;
  }
  .icon-large{
    position: relative;
    top: 2svh;
  }
}

.homepage-shop-link{
  display: grid;
  position: absolute;
  top: 40svh;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes bob {
  0% {
    transform: translateY(0) rotateZ(-2.5deg); 
  }
  20% {
    transform: translateY(-7.5%) rotateZ(0deg);
  }
  40% {
    transform: translateY(-15%) rotateZ(2.5deg);
  }
  60% {
    transform: translateY(-15%) rotateZ(0deg); 
  }
  80% {
    transform: translateY(-7.5%) rotateZ(-1.25deg);
  }
  100% {
    transform: translateY(0%) rotateZ(-2.5deg);
  }
}