:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.icon-large{
  width: 15em;
}

.icon-small{
  width: 2.5em;
}

.navbar{
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  justify-content: space-between;
  width: 100vw;
}

.navbar-name-and-logo{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.navbar-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: min(0.4em);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;

}

.navbar-link{
  text-decoration: none;
}

.all-collections-list{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 1em;
}

.collection-card{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 0.5em;
}

.collection-card-top-row{
  display: grid;
  grid-template-columns: auto auto;
  gap: min(1em);
}

.collection-image{
  display: grid;
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 1.5em;
}

.floor-price{
  display: grid;
  grid-template-columns: auto auto;
}

.collection-card-address{
  font-size: x-small;
  font-style: italic;
}

.collection-card-floor-price{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.stats-row{
  display: grid;
  font-size: small;
}

.one-day-pct-change,
.seven-day-pct-change{
  display: grid;
  grid-template-columns: auto auto;
}

.one-day-pct-change-value-and-symbol,
.seven-day-pct-change-value-and-symbol{
  display: grid;
  grid-template-columns: auto auto; 
  gap: 0.1em;
}

.one-day-pct-change-value,
.seven-day-pct-change-value{
  text-align: right;
}

.unit-icon{
  display: grid;
  object-fit: contain;
  height: 1.25em;
  width: 1.25em;
}

.collection-card-bottom-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}

.supply-and-for-sale-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supply-label,
.num-for-sale-label{
  text-align: right;
}

.supply,
.num-for-sale{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: min(0.2em);
}

.shop-header-and-search{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  margin: 0;
}

.collections-search-bar{
  display: grid;
  justify-content: center;
  align-items: center;
}

.collections-search-input{
  font-size: large;
}

.autocomplete-sugestions{
  max-height: 20svh;
  width: 70vw;
  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  list-style-type: none;
  border-radius: 1.5em;
  padding: 0;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: medium;
}

.loading-dock{
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  gap: min(2em);
  padding-top: min(2em);
  padding-bottom: min(2em);
}

.loading-icon-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.loading-icon{
  display: grid;
  object-fit: fill;
  width: max(100%);
  height: max(100%);
  animation: spin 2s linear infinite;
}

.loading-text{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg) scale(1); 
  }
  50%{
    transform: rotate(180deg) scale(0.5); 
  }
  100% { 
    transform: rotate(360deg) scale(1); 
  }
}

.pagination-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: min(0.3em);
}

.pagination-row-left-arrow{
  text-align: right;
}

.pagination-numbers-list{
  display: grid;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  gap: min(0.3em);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collection-banner{
  display: grid;
  width: 100vw;
  height: max(25svh);
  object-fit: cover;
}

.volume-plot{
  display: grid;
  width: 100 vw;
  height: max(50svh);
  object-fit: contain;
}
